#!/bin/sh

setbg &		# Set the background
sxhkd &	# Bind keys
# run remaps script to finish remaping
remaps &
unclutter &		# Remove mouse when idle
xcompmgr &		# xcompmgr for transparency
dunst &			# dunst for notifications
mpdupdate &
VBoxClient-all &	# VirtualBox Client
